@import "../../../styles//style.scss";

.select-container {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .label {
        font-size: 16px;
        color: var(--text-color-grey);
    }

    .select {
        width: 100%;
    }

    .form-field__error {
        padding-block: 3px;
        font-size: 14px;
        color: var(--red-error-color);
        font-weight: 300;
    }
}
