@use "../../../styles/variables" as *;

.error-message {
    padding-block: 5px;
    font-size: 14px;
    color: var(--red-error-color);
    font-weight: 300;
}

.parts-form {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
