@use "../../../styles/media" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.configuration-card {
    height: 100%;

    &:last-child:nth-child(2n + 1) {
        @media (max-width: 1250px) and (min-width: 950px) {
            grid-column: span 2;
            align-self: center;
            justify-self: center;
            width: 50%;
        }
    }

    &__img {
        @media (max-width: 950px) {
            max-height: 500px;
            margin: 0 auto;
        }
    }

    &__header {
        padding-inline: 15px;
    }

    &__title {
        text-transform: uppercase;
        font-weight: 400;
        font-size: clamp(22px, 1.5vw, 29px);
        margin-bottom: 10px;
    }

    &__rate {
        margin-bottom: 10px;

        &-value {
        }

        &-count {
            padding-left: 10px;
            color: var(--tm-color-light-grey);
        }
    }

    &__buy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;

        &-price {
            font-size: 18px;
            font-weight: 300px;
        }

        &-btn {
        }
    }

    &__description {
        font-size: 16px;
        font-weight: 300;
        padding-top: 5px;
        color: var(--tm-color-dark-white);
        margin-bottom: 20px;
    }

    &__links {
        justify-self: end;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;

        &-config {
            &-svg {
                filter: invert(1);
            }

            &-text {
                padding-left: 4px;
                align-self: center;
            }
        }

        &-more {
        }
    }

    .components-list {
        padding-inline: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        &__item {
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            gap: 10px;

            &:not(:last-child) {
                box-shadow: 0px 0.2px 0 var(--tm-color-dark-white);
            }

            &-img {
                filter: invert(0.65);
            }

            &-info {
                display: flex;
                flex-direction: column;
                gap: 3px;
                font-size: 14px;

                &-title {
                    font-size: 13px;
                    color: var(--tm-color-dark-white);
                    font-weight: 300;
                }

                &-name {
                }
            }
        }
    }
}
