@use "../../../styles/media" as *;
@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.configurator {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 270px auto 335px;
    gap: 15px;

    @include tablet {
        grid-template-columns: auto 335px;
    }

    @include mobile {
        grid-template-columns: 1fr;
    }

    .components-list {
        display: flex;
        flex-direction: column;
        // gap: 30px;
    }
}

.sticky-block {
    background-color: rgb(110, 110, 110);
    position: sticky;
    position: -webkit-sticky;
    max-height: 725px;
    top: 85px;
}

.ant-notification-bottomLeft {
    width: 270px !important;

    @include tablet {
        display: none;
    }

    .ant-notification-notice {
        width: 270px !important;
    }

    .ant-notification-notice-message {
        font-size: 14px !important;
    }

    .ant-notification-notice-description {
        font-size: 12px !important;
    }

    .ant-notification-notice-wrapper {
        box-shadow: 0 2px 2px 0 rgba(228, 152, 12, 0.18),
            0 1px 1px 1px rgba(228, 152, 12, 0.18),
            0 4px 14px 4px rgba(228, 152, 12, 0.18);
    }
}
