@use "../../styles/media" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.centered-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    .form-container {
        background-color: var(--tm-color-dark-black);
        display: flex;
        box-shadow: -10px 10px 13px rgba(0, 0, 0, 0.377);

        @media (max-width: 1300px) {
            display: block;
        }

        .image-container {
            transition-duration: var(--transition-duration);

            @media (max-width: 1300px) {
                display: none;
            }

            &__img {
                user-select: none;
                transition-duration: var(--transition-duration);
                height: 100%;
                object-fit: cover;
            }
        }

        .form-aside {
            transition-duration: var(--transition-duration);
            padding: 30px 50px;

            @media (max-width: 1300px) {
                padding: 20px 30px;
            }

            &--h700 {
                height: 780px;

                @media (max-width: 1300px) {
                    height: auto;
                }
            }
        }

        .navigation {
            display: flex;
            gap: 20px;
            padding-bottom: 25px;
            // border-bottom: 1px solid gray;
            // margin-bottom: 15px;

            &__link {
                position: relative;
                // text-transform: uppercase;
                color: var(--text-color-grey);
                transition-duration: var(--transition-duration);
                padding-block: 4px;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    translate: -50%;
                    width: 0;
                    height: 2px;
                    background-color: var(--main-color);
                    transition-duration: inherit;
                }

                @include hover {
                    color: var(--tm-color-white);

                    &::before {
                        width: 100%;
                        color: var(--main-color);
                    }
                }

                &.active {
                    color: var(--tm-color-white);

                    &::before {
                        width: 100%;
                        color: var(--main-color);
                    }
                }
            }
        }

        .auth-form {
            display: flex;
            flex-direction: column;
            width: 500px;
            min-height: 400px;

            @media (max-width: 1300px) {
                width: 60vw;
                min-height: 0px;
                max-width: 500px;
            }

            &__submit-btn {
                @include reset-button;
                background-color: var(--main-color);
                padding-block: 10px;
                cursor: pointer;
                margin-top: 15px;
                border-radius: 2px;

                @include hover {
                    background-color: var(--main-color-accent);
                }
            }
        }
    }
}
